@import '~antd/dist/antd.css';

* {
    margin: 0;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pt-3 {
    padding-top: 1rem;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.p-3 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pr-4 {
    padding-right: 1.5rem;
}
.pt-4 {
    padding-top: 1.5rem;
}
.px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.p-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pr-5 {
    padding-right: 2rem;
}
.pr-6 {
    padding-right: 3rem;
}
.pl-6 {
    padding-left: 3rem;
}
.pt-6 {
    padding-top: 3rem;
}
.px-6 {
    padding-left: 3rem;
    padding-right: 3rem;
}
.p-6 {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mr-6 {
    margin-right: 3rem;
}
.ml-6 {
    margin-left: 3rem;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-r {
    position: relative;
}

.container-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-info {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 1rem;
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-user-info {
    padding: 8px;
    display: flex;
}

.ant-menu-horizontal {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.cursor-pointer {
    cursor: pointer;
}

.ellipsis-2-row {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.container-post-card {
    width: 600px;
}

@media only screen and (max-width: 600px)  {
    .container-filter {
        display: flex;
        flex-direction: column-reverse;
    }

    .wrapper-filter {
        padding-bottom: 0.5rem;
    }

    .container-post-card {
        width: 400px;
    }
}

@media only screen and (max-width: 400px)  {
    .container-photo-card {
        width: 300px !important;
    }

    .container-post-card {
        width: 300px;
    }
}